@charset "utf-8";

/* 스킵 */
#skip {
    position: relative;
}
#skip a {
    position: absolute;
    left: 0;
    top: -35px;
    border: 1px solid #fff;
    background-color: #333;
    line-height: 30px;
    text-align: center;
}
#skip a:active,
#skip a:focus {top: 0;}

/* 레이아웃 */
#wrap {
    width: 100%;
}
#header {
    width: 100%;
    height: 325px;
    background: url(../img/header_bg.jpg) center top repeat-x;
}
#contents {
    width: 100%;
    height: 800px;
    background-color: #ccc;
}
#footer {
    width: 100%;
    height: 200px;
    background-color: #555;
}

/* 컨테이너 */
.container {
    width: 990px;
    margin: 0 auto;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.3);
}

/* 컨텐츠 레이아웃 */
#contents__nav {
    width: 100%;
    height: 200px;
    background-color: #333;
}
#contents__title {
    width: 100%;
    height: 200px;
    background-color: #444;
}
#contents__banner {
    width: 100%;
    height: 200px;
    background-color: #555;
}
#contents__main {
    width: 100%;
    height: 200px;
    background-color: #666;
}

/* 헤더 */
.header {}
.header .header__menu {
    text-align: right;
}
.header .header__menu a {
    color: #fff;
    padding: 10px 0px 10px 13px;
    display: inline-block;
}
.header .header__menu a:hover {
    color: #666;
}

.header .header__title {
    text-align: center;
}
.header .header__title h1 {
    display: inline-block;
    background-color: #4aa8d4;
    font-size: 28px;
    padding: 5px 20px 6px 20px;
    color: #fff;
    margin-top: 40px;
    font-weight: normal;
/*     text-transform: uppercase; */
}

.header .header__title a {
    display: inline-block;
    background-color: #2698cb;
    font-size: 18px;
    color: #fff;
    padding: 5px 20px 6px 20px;
    margin-top: -5px;
}

.header .header__icon {
    text-align: center;
    margin-top: 30px;
}
.header .header__icon a {
    width: 60px;
    height: 60px;
    background: url(../img/icon.png);
    display: inline-block;
    margin: 0 3px;
}
/* ImageSprite icon */
.header .header__icon a.icon1 {
    background-position: 0 0;
}
.header .header__icon a.icon2 {
    background-position: 0 -60px;
}
.header .header__icon a.icon3 {
    background-position: 0 -120px;
}
.header .header__icon a.icon4 {
    background-position: 0 -180px;
}

/* MouseOver Effect */
.header .header__icon a.icon1:hover {
    background-position: -60px 0;
}
.header .header__icon a.icon2:hover {
    background-position: -60px -60px;
}
.header .header__icon a.icon3:hover {
    background-position: -60px -120px;
}
.header .header__icon a.icon4:hover {
    background-position: -60px -180px;
}